[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
structlog = "*"
pyyaml = "*"
jinja2 = "*"
dotenv = "*"
tqdm = "*"
requests = "*"
pydantic = "*"
logger = "*"
aiohttp = "*"
tenacity = "*"
python-slugify = "*"
pytest = "*"
responses = "*"
tabulate = "*"
prompt-toolkit = "*"

[dev-packages]

[requires]
python_version = "3.13"
