[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyyaml = "*"
jinja2 = "*"
dotenv = "*"
requests = "*"
pydantic = "*"
logger = "*"
python-slugify = "*"
pytest = "*"
responses = "*"
tabulate = "*"
prompt-toolkit = "*"

[dev-packages]
djhtml = "*"

[requires]
python_version = "3.13"
